.menu-bar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  background-color: #263238;
  height: max-content;
  padding: 4px 8px;
}

.menu-bar p {
  font-weight: bold;
  font-size: 16pt;
  color: #ECEFF1;
  margin: 0;
}

.menu-bar button {
  font-weight: bold;
  font-size: 12pt;
  color: #ECEFF1;
  background-color: #37474F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 8px;
}
.menu-bar button:hover {
  background-color: #455A64;
}

.promo-link {
  font-family: 'Consolas', monospace;
  color: #A5D6A7;
  font-weight: bold;

  position: absolute;
  right: 8px;

  transition: text-shadow 0.15s;
}
.promo-link:hover {
  text-shadow: 0px 0px 4px #a5d6a791;
}