.menu-bar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  background-color: #263238;
  height: max-content;
  padding: 4px 8px;
}

.menu-bar p {
  font-weight: bold;
  font-size: 16pt;
  color: #ECEFF1;
  margin: 0;
}

.menu-bar button {
  font-weight: bold;
  font-size: 12pt;
  color: #ECEFF1;
  background-color: #37474F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 8px;
}
.menu-bar button:hover {
  background-color: #455A64;
}

.promo-link {
  font-family: 'Consolas', monospace;
  color: #A5D6A7;
  font-weight: bold;

  position: absolute;
  right: 8px;

  transition: text-shadow 0.15s;
}
.promo-link:hover {
  text-shadow: 0px 0px 4px #a5d6a791;
}

.menu-bar .hotreload-button {
  background-color: #BF360CCC;
  color: white;
  position: relative;
}
.menu-bar .hotreload-button:hover {
  background-color: #BF360C;
}

.hotreload-indicator {
  display: inline-block;
  opacity: 0;
  padding-right: 6px;
  animation: cooldown 0.1s ease-in-out;
}
.hotreload-enabled .hotreload-indicator {
  opacity: 1;
  animation: fireup 0.5s ease-in-out;
}

@keyframes fireup {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  20% {
    opacity: 1;
    transform: scale(1.5, 1.5) rotate(-16);
  }
  40% {
    transform: scale(1.5, 1.5) translate(0, -2px) rotate(-16deg);
  }
  60% {
    transform: scale(1.6, 1.6) rotate(8deg);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes cooldown {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}