.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000022;

  z-index: 999;
}

.modal-container.visible {
  display: flex;
  animation: modal-fadein 0.3s;
}

@keyframes modal-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-container.hidden {
  display: none;
}