.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000022;

  z-index: 999;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}