.button {
  position: absolute;
  top: 40px;
  right: 32px;

  font-size: 16pt;

  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 4px;
  padding: 6px 12px;

  cursor: pointer;

  transition: box-shadow 0.3s;

  z-index: 99;
}
.dark .button {
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.2);
}

.button-run {
  background-color: var(--run-color);
}

.button-stop {
  background-color: var(--stop-color);
}

.button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.dark .button:hover {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}