.tooltip {
  position: absolute;
  color: black;
  background-color: white;
  font-size: 10pt;
  font-weight: normal;
  padding: 4px 8px;
  border-radius: 6px;
  display: none;
  z-index: 999999;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
}
.dark .tooltip {
  background-color: var(--background-secondary-dark);
  color: white;
}