:root {
  --background-light: white;
  --background-secondary-light: #ECEFF1;
  --background-dark: #263238;
  --background-secondary-dark: #151b1f;
  --accent-color: #03A9F4;
  --promo-color: #a5d6a791;
  --run-color: #009688;
  --stop-color: #FF5722;
}

html { overflow: hidden; }

.page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.workspace-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right-container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.preview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #222;
}

.preview {
  background-color: black;
  cursor: none;
}